<!-- password_reset_confirm.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <!-- Bootstrap CSS or any other CSS framework -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h1>Reset Password</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="uidb64" value="{{ uidb64 }}">
            <input type="hidden" name="token" value="{{ token }}">
            <button type="submit" class="btn btn-primary">Set New Password</button>
        </form>
    </div>
</body>
</html>
